*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --rosa: #f1ece2;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
    background-color: var(--rosa);
}
img{
    max-width: 100%;
}
.title-input{
    font-size: 1.1rem;
    font-style: italic;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.item{
    width: calc(100% / 3 - 30px);
    margin: 15px;
    padding: 15px;
    background-color: white;
}
.name{
    margin-top: 1.2rem;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
}
.role{
    text-align: center;
    font-size: 1.1rem;
    text-transform: capitalize;
}
.message{
    font-size: 1.1rem;
    height: 25px;
}